@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		-webkit-tap-highlight-color: transparent;
		scrollbar-width: thin;
	}

	*::placeholder {
		@apply text-gray-400;
	}

	html {
		@apply font-main bg-black text-white text-base sm:text-lg lg:text-xl;
	}

	body {
		@apply h-full flex flex-col;
	}

	img {
		user-drag: none;
		-webkit-user-drag: none;
	}

	a,
	img,
	button {
		@apply select-none;
	}

	.scrollbar {
		scrollbar-width: thin;
	}

	.scrollbar::-webkit-scrollbar {
		@apply w-3;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-gray-500 border-y-8 border-solid border-transparent bg-clip-padding rounded-full min-h-[2rem];
	}

	.scrollbar-hidden {
		scrollbar-width: none;
	}

	.scrollbar-hidden::-webkit-scrollbar {
		@apply hidden;
	}

	.section-clip {
		clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 1rem), 0 100%);
	}

	@screen lg {
		.section-clip {
			clip-path: polygon(0 2rem, 100% 0, 100% calc(100% - 2rem), 0 100%);
		}
	}

	.project-cols:nth-child(odd) {
		grid-template-columns: minmax(0, 1fr) minmax(0, 0.7fr);
	}

	.project-cols:nth-child(even) {
		grid-template-columns: minmax(0, 0.7fr) minmax(0, 1fr);
	}

	.scroll-mask {
		mask-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, var(--top-opacity)) 0%,
			rgba(0, 0, 0, 1) 10%,
			rgba(0, 0, 0, 1) 90%,
			rgba(0, 0, 0, var(--bottom-opacity)) 100%
		);
	}
}
