@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		-webkit-tap-highlight-color: transparent;
		scrollbar-width: thin;
	}

	html {
		@apply font-main bg-black text-white text-base sm:text-lg lg:text-xl;
	}

	img {
		@apply select-none;
		user-drag: none;
		-webkit-user-drag: none;
	}

	.scrollbar-hidden {
		scrollbar-width: none;
	}

	.scrollbar-hidden::-webkit-scrollbar {
		@apply hidden;
	}

	.section-clip {
		clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
	}
}
